  <div id="info">
    <p>To edit an existing entry, double-click it.</p>
    <p>To create a new entry, start typing or click on the bottom entry.</p>
  </div>
  <section id="entryapp">
    <header id="header">
      <h1>Story Title</h1>
      <!-- <h1>A Fullstack Story</h1> -->
      <!-- <input id="new-entry" placeholder="Click here to add a new entry to the story." autofocus> -->
    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="entry-list"></ul>
    </section>

    <header id="header">
      <!-- <h1>Story Title</h1> -->
      <input id="new-entry" placeholder="Click here to add a new entry to the story." autofocus>
    </header>

    <footer id="footer"></footer>

  </section>

  <div id="info">
    <p></p>
  </div>

  <!-- old script was here -->
  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%%= completed ? 'checked' : '' %>>
      <label><%%- description %></label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="<%%- description %>">
  </script>

  <script type="text/template" id="stats-template">
    <span id="entry-count"><strong><%%= remaining %></strong> <%%= remaining === 1 ? 'item' : 'items' %> left</span>
    <ul id="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <%% if (completed) { %>
    <button id="clear-completed">Clear completed (<%%= completed %>)</button>
    <%% } %>
  </script>

  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    var pusher = new Pusher('6cf8dfb25489020a860b');
    var channel = pusher.subscribe('story_1_entries');
    channel.bind('new_entry_event', function(data) {
      // debugger;
      if(app.Entries.where({id: data.id}).length === 0) {
        app.Entries.add(data);
      }
    });
  </script>

<% content_for :javascripts_footer do %>
<script type="text/javascript">
$(function() {

  // Kick things off by creating the **App**.
  // var myApp = new app.AppView();
  app.Entries = new EntryList();
  app.Entries.story_id = <%= @story.id %>;

    // Trigger a collection filter event, causing hiding/unhiding
    // of Todo view items
    // moved from entries router
    app.Entries.trigger('filter');


  var myApp = new app.EntryAppView();

  // myApp.initialize();
});
</script>
<% end %>
