  <div id="info">
    <p>Double-click a story to read it, add to it or edit it.</p>
    <p>Start typing or click on the top space to make a new story.</p>
  </div>
  <section id="storyapp">
    <header id="header">
      <h1>Story Stacker</h1>
      <!-- <h1>A Fullstack Story</h1> -->
      <input id="new-story" placeholder="Click here to add a new story to the list." autofocus>
    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="story-list"></ul>
    </section>

    <header id="header">
      <!-- <h1>Story Title</h1> -->
<!--       <input id="new-entry" placeholder="Click here to add a new entry to the story." autofocus> -->
    </header>

    <footer id="footer"></footer>

  </section>

  <div id="info">
    <p></p>
  </div>

  <!-- old script was here -->
  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%%= completed ? 'checked' : '' %>>
      <label><%%- description %></label>
      <button class="destroy"></button>
      <button class="goto"></button>
    </div>
    <input class="edit" value="<%%- description %>">
  </script>

  <script type="text/template" id="stats-template">
    <span id="story-count"><strong><%%= remaining %></strong> <%%= remaining === 1 ? 'story' : 'stories' %></span>
    <ul id="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <%% if (completed) { %>
    <button id="clear-completed">Clear completed (<%%= completed %>)</button>
    <%% } %>
  </script>

<% content_for :javascripts_footer do %>
<script type="text/javascript">
$(function() {

  // Kick things off by creating the **App**.
  // var myApp = new app.AppView();
  var myApp = new app.StoryAppView();

  // myApp.initialize();
});
</script>
<% end %>
